button.menu-button-mobile.m-l-1.btn.btn-primary,
button.menu-button-mobile.m-l-1.btn.btn-primary:hover {
    background-color: transparent !important;
    color: black !important;
    border: none;
    font-size: 1.5rem;
}
.primary-button{
    padding:0.5rem 2rem !important;
    background-color: transparent !important;
    color: inherit !important;
    float: right;
    margin-top: 2rem !important;
}
.buttons{
    background-image: linear-gradient(#775C86, #8A1367);
    padding: 0.2rem 0.8rem !important;
    border: 0px !important;
    color: #fff;
    font-family: 'Inter', sans-serif !important;
    font-size: 1.2rem;
    border-radius: 10px;
}

.circles{
    border: 1px solid #8A1367 !important;
   border-radius: 50%;
    background-color: #8A1367 !important;
    width: 50%;
    height: 50%;
    color: #8A1367;
}
/* Ellipse 6 */
.circle{

width: 25px;
height: 25px;
border-radius: 50px;
background: #8A1367;
border: 1px solid #269EE1;
}
