button.menu-button-mobile.m-l-1.btn.btn-primary,
button.menu-button-mobile.m-l-1.btn.btn-primary:hover {
    background-color: transparent !important;
    color: black !important;
    border: none;
    font-size: 1.5rem;
}
.primary-button{
    padding:0.5rem 2rem !important;
    background-color: transparent !important;
    color: inherit !important;
    float: right;
    margin-top: 2rem !important;
}
.buttons{
    background-image: linear-gradient(#775C86, #8A1367);
    padding: 0.2rem 0.8rem !important;
    border: 0px !important;
    color: #fff;
    font-family: 'Inter', sans-serif !important;
    font-size: 1.2rem;
    border-radius: 10px;
}

.circles{
    border: 1px solid #8A1367 !important;
   border-radius: 50%;
    background-color: #8A1367 !important;
    width: 50%;
    height: 50%;
    color: #8A1367;
}
/* Ellipse 6 */
.circle{

width: 25px;
height: 25px;
border-radius: 50px;
background: #8A1367;
border: 1px solid #269EE1;
}

#dropdown-basic {
    margin: 0 !important;
    padding: 5px !important;
    border: none !important;
}
svg.recharts-surface{
    background-color: transparent !important;
}
:where(.css-dev-only-do-not-override-k7429z).ant-tabs-top >.ant-tabs-nav::before, :where(.css-dev-only-do-not-override-k7429z).ant-tabs-bottom >.ant-tabs-nav::before, :where(.css-dev-only-do-not-override-k7429z).ant-tabs-top >div>.ant-tabs-nav::before, :where(.css-dev-only-do-not-override-k7429z).ant-tabs-bottom >div>.ant-tabs-nav::before{
    border: none !important;
}
.ant-tabs-ink-bar.ant-tabs-ink-bar-animated{
    background: transparent !important;
}
.ant-tabs-tab{
    color: var(--color) !important;
}
.s-f-s-2{
    font-size: 1.5rem !important;
}
@media screen and (max-width:1200px) {
    .s-f-s-2{
        font-size: 1.5rem !important;
    }
}
@media screen and (max-width:900px) {
    .s-f-s-2{
        font-size: 1rem !important;
    }
}
.s-f-s-3{
    font-size:3rem !important;
}
@media screen and (max-width:1200px) {
    .s-f-s-3{
        font-size: 2rem !important;
    }
}

@media screen and (max-width:900px) {
    .s-f-s-3{
        font-size: 2rem !important;
    }
    .m-q-t-a-l{
        text-align: left !important;
    }
}
 