.dashboard{
&__box{
//     width: 300px !important;
// height: 200px !important;

background: #201F25;
border-radius: 10px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
&__box-total{
   
background: #201F25;
border-radius: 10px;
}
&__box-perfomance{
    background: #201F25;
border-radius: 10px;


}
}

.toggle-buttons{
    background: #b7c5f53b !important;
border-radius: 3px !important;
padding: 1rem !important;
border: 1px solid #b7c5f53b !important;
}
.tab{
    background: #87F585;
    padding: 3px 5px;
    border-radius: 10px;
    color: #0a8d0a;
}
.icons-io{
    background: transparent !important;
    color: #0a8d0a !important;
}

.rectangle-p{
    width: 15px;
    height: 15px;
    background: #E21F65;
    border-radius: 3px;
}
.rectangle-s{
    width: 15px;
    height: 15px;
    background: #B7C5F5;
    border-radius: 3px;
}
.rectangle-h{
    width: 15px;
    height: 15px;
    background: #F3F585;
    border-radius: 3px;
}
.rectangle-m{
    width: 15px;
    height: 15px;
    background: #489D86;
    border-radius: 3px;
}
.rectangle-ep{
    width: 15px;
    height: 15px;
    background: #3D13B6;
    border-radius: 3px;
}
.rectangle-em{
    width: 15px;
    height: 15px;
    background: #00CF00;
    border-radius: 3px;
}
.gr-icon{
    background: #fff !important;
    font-size: 1.5rem;
    font-weight: 800 !important;
    border: 1px solid #000;
    border-radius: 25px;
    
}
.mini-node-icons{
    background: transparent !important;
    margin-top: 3px !important;
}
.detail{
    background: #6C728D ;
    color: #fff;
    border: none;
    padding: 2px;
    border-radius: 5px;
}

@media screen and (max-width: 991px) {
    .dashboard{
        margin-top: 1rem;
    }
}